packages/tooling/workflows/exported/ingest-users.json
{
  "name": "ingest-users",
  "nodes": [
    {
      "parameters": {
        "path": "ingest-users",
        "httpMethod": "POST",
        "responseMode": "responseNode"
      },
      "id": "Webhook_Ingest",
      "name": "Webhook Ingest",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [220, 300]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO users (nome, email, phone) SELECT x.nome, x.email, x.phone FROM json_to_recordset($1::json) AS x(nome text, email text, phone text) ON CONFLICT (email) DO UPDATE SET nome = EXCLUDED.nome, phone = EXCLUDED.phone;"
      },
      "id": "Postgres_Insert",
      "name": "Postgres Insert",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2,
      "position": [520, 220],
      "credentials": {
        "postgres": {
          "id": "REPLACE_WITH_YOUR_CREDENTIAL_ID",
          "name": "postgres-local"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT id, nome, email, phone FROM users ORDER BY id ASC;"
      },
      "id": "Postgres_List",
      "name": "Postgres List",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2,
      "position": [520, 380],
      "credentials": {
        "postgres": {
          "id": "REPLACE_WITH_YOUR_CREDENTIAL_ID",
          "name": "postgres-local"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { users: $json } }}"
      },
      "id": "Respond",
      "name": "Respond",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [760, 380]
    }
  ],
  "connections": {
    "Webhook Ingest": {
      "main": [
        [
          {
            "node": "Postgres Insert",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Postgres Insert": {
      "main": [
        [
          {
            "node": "Postgres List",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Postgres List": {
      "main": [
        [
          {
            "node": "Respond",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {},
  "versionId": "1"
}
